.container {
    padding: 48px 50px;
}


.keyword-item {
    /* 각 아이템의 스타일을 여기에 추가할 수 있습니다, 예를 들면... */
    overflow: hidden; /* 이미지가 div를 넘치지 않도록 함 */
}


.keyImg{

    width: 15vw;
    padding-right: 4px;
    height: 16vh;

    object-fit: cover;

}