.searchContainer {
    position: relative; /* 이것이 중요합니다 */
}


.HeaderContainer {
    text-decoration-line: none;

    position: fixed;
    color: black;

    background-color: white;
    z-index: 999;
    font-weight: 400;
    width: 100%;
    height: 60px;
    top: 0;
    border-bottom: 1px solid #EBEBEB;
}
.change_color { color: black;     text-decoration-line: none;}



.autoCompleteList {
    color: black;
    position: absolute;
    top: 100%; /* 인풋 바로 아래에 위치 */
    left: 0;
    right: 0;
    width: 100%; /* 검색창과 동일한 너비로 설정 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 함 */
    background-color: #ffffff; /* 배경색 지정 */

    border-top: none; /* 위쪽 테두리는 제거 */
    list-style: none; /* 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
}

.autoCompleteItem {
    padding: 10px;
    cursor: pointer;
}

.autoCompleteItem:hover {
    background-color: #f8f8f8; /* 마우스 호버시 배경색 변경 */
}
